body{
    padding: 0;
    overflow-x: hidden;
    background: #fffdfd;
}

*{
    margin: 0;

}

.swiper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.swiper-wrapper{
    /* width: 70% !important; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.img_box{
    width: 100%;
}

img{
    width: 82%;
    height: 100vh;
    max-width: 1500px !important;
}

.right_block{
    width: 18%;
    /* border: 1px solid red; */
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 30px;
    padding-top: 55px;
    background: #f7f7f7;
    height: 100vh;
    padding-left: 53px;
    min-width: 300px !important;
}

.close_pop_up{
    background-color: transparent;
    border: none;
    font-size: 32px;
}

.button_container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

.close_pop_up img{
    width: 50px;
    height: auto;
    cursor: pointer !important;
    z-index: 1000;
    position: absolute;
    right: 30px;
    top: 55px;
}


.swiper-button-next {
    background-image: url(./right.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    position: static;
  }
  
  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-prev {
    background-image: url(./left.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    position: static;
    
    
  }
  
  .swiper-button-prev::after {
    display: none;
  }


  .text h6{
    /* margin-left: 35px; */
    font-size: 16px;
  }

  .text p{
      margin-top: 30px;
  }

  .text{
      margin-top: calc(100vh - 400px);
      width: 100% 
  }
  .arrows{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-top: 50px;
  }

  .counter{
      margin-top: -50px;
      
  }

  .counter p{
      color: black;
  }

  .container h1{
      color: white;
      font-size: 62px;
      text-align: center;
  }

  .container{
      position: absolute;
      top: 50px;
      right: 0;
      width: 100%;
  }

  .caption_and_arrows{
      width: 100%;
  }

  #container2 h1{
    color: black;
    z-index: 1700;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .container2{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    color: black;
    border: 1px solid red;
    z-index: 5000;
    height: 100px;
}